@use "/src/styles/variables.scss" as *;
@use "/src/styles/function.scss" as *;

.add-phrase-form {
    width: px-to-rem(600);
    margin: 0 auto px-to-rem(40);
    display: flex;
    flex-direction: column;
    gap: px-to-rem(12);
    padding: px-to-rem(20);
    background-color: $card-color;
    border-radius: px-to-rem(20);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h2 {
        font-family: $font-primary;
        font-size: px-to-rem(24);
        margin-bottom: px-to-rem(10);
        color: $accent_brown;
        text-align: center;
    }

    textarea,
    input {
        font-family: $font-primary;
        padding: px-to-rem(10);
        border: 1px solid #ccc;
        border-radius: px-to-rem(10);
        font-size: px-to-rem(16);
    }

    button {
        width: 20%;
        padding: px-to-rem(12);
        background-color: #4caf50;
        color: $primary-color;
        border: none;
        border-radius: px-to-rem(10);
        font-size: px-to-rem(16);
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }

    }
}